* {
  padding: 0;
  margin: 0;
}
.container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  text-align: center;
  transition: all 500ms ease;
}
.button {
  margin: 20px;
  padding: 20px;
}
